@CHARSET "UTF-8";

body{
background-image: url('../images/birds-and-leaves-on-yellow-background.jpg');
}

h2{
	margin-left:450px;
}

h3{
	margin-right: 50px;
}

p{
	margin-left: 50px;
}

.actionbox{
	margin-left:100px; margin-top: 50px;
	float: left;
}

.img{
	margin-left: 720px;margin-top: 10px; border: solid; width : 350px; height : 350px;
	background-image: url('../images/oil350_528e671c5c72d.jpg');
}